<a href="https://colab.research.google.com/github/rjtarazonas97/Curso_Pandas_Python2025/blob/main/Script2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

datos = pd.read_excel("/content/BD_anuario_2024.xlsx")

datos

,Unnamed: 0,"No. DE ASPIRANTES POR ESTADO, NIVEL Y GÉNERO",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,No. DE ALUMNOS INSCRITOS POR ESTADO Y GÉNERO,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,PREPARATORIA,NaN,PROPEDÉUTICO,NaN,TOTAL,NaN,NaN,PREPARATORIA,NaN,PROPEDÉUTICO,NaN,TOTAL
1,NaN,ESTADO,H,M,H,M,NaN,NaN,ESTADO,H,M,H,M,NaN
2,NaN,AGUASCALIENTES,9,5,30,34,78,NaN,AGUASCALIENTES,1,3,3,3,10
3,NaN,BAJA CALIFORNIA,12,19,68,80,179,NaN,BAJA CALIFORNIA,1,3,14,7,25
4,NaN,BAJA CALIFORNIA SUR,5,1,9,4,19,NaN,BAJA CALIFORNIA SUR,2,1,1,NaN,4
5,NaN,CAMPECHE,20,16,53,42,131,NaN,CAMPECHE,3,2,10,2,17
6,NaN,CHIAPAS,203,168,420,395,1186,NaN,CHIAPAS,29,24,31,19,103
7,NaN,CHIHUAHUA,14,10,67,65,156,NaN,CHIHUAHUA,1,1,12,10,24
8,NaN,CIUDAD DE MÉXICO,420,439,842,1154,2855,NaN,CIUDAD DE MÉXICO,48,23,22,14,107
9,NaN,COAHUILA DE ZARAGOZA,14,12,33,37,96,NaN,COAHUILA DE ZARAGOZA,6,1,6,3,16
10,NaN,COLIMA,NaN,3,17,17,37,NaN,COLIMA,NaN,NaN,8,3,11
11,NaN,DURANGO,72,81,188,214,555,NaN,DURANGO,19,17,25,23,84
12,NaN,GUANAJUATO,78,46,253,270,647,NaN,GUANAJUATO,13,10,16,12,51
13,NaN,GUERRERO,191,190,430,504,1315,NaN,GUERRERO,31,27,35,28,121
14,NaN,HIDALGO,288,250,542,663,1743,NaN,HIDALGO,50,36,24,25,135
15,NaN,JALISCO,27,18,70,65,180,NaN,JALISCO,5,2,8,4,19
16,NaN,MÉXICO,2139,2252,2958,3834,11183,NaN,MÉXICO,179,125,59,41,404
17,NaN,MICHOACÁN DE OCAMPO,60,55,243,205,563,NaN,MICHOACÁN DE OCAMPO,8,10,24,5,47
18,NaN,MORELOS,138,117,414,364,1033,NaN,MORELOS,21,18,12,7,58
19,NaN,NACIDO EN EL EXTRANJERO,33,49,75,105,262,NaN,NACIDO EN EL EXTRANJERO,3,5,7,6,21
20,NaN,NAYARIT,15,12,54,34,115,NaN,NAYARIT,2,1,8,6,17
21,NaN,NUEVO LEÓN,4,5,10,11,30,NaN,NUEVO LEÓN,NaN,2,1,1,4
22,NaN,OAXACA,614,760,875,1133,3382,NaN,OAXACA,130,127,89,86,432
23,NaN,PUEBLA,462,486,987,1116,3051,NaN,PUEBLA,105,80,52,36,273
24,NaN,QUERÉTARO ARTEAGA,43,49,113,160,365,NaN,QUERÉTARO ARTEAGA,12,5,5,8,30
25,NaN,QUINTANA ROO,12,10,27,25,74,NaN,QUINTANA ROO,2,3,5,3,13
26,NaN,SAN LUIS POTOSÍ,39,36,97,129,301,NaN,SAN LUIS POTOSÍ,9,8,5,13,35
27,NaN,SINALOA,11,5,28,18,62,NaN,SINALOA,2,NaN,4,1,7
28,NaN,SONORA,5,5,14,21,45,NaN,SONORA,2,2,1,4,9
29,NaN,TABASCO,24,20,68,76,188,NaN,TABASCO,4,1,7,10,22
30,NaN,TAMAULIPAS,15,15,56,70,156,NaN,TAMAULIPAS,4,2,11,9,26
31,NaN,TLAXCALA,98,84,175,208,565,NaN,TLAXCALA,12,9,6,4,31
32,NaN,VERACRUZ DE IGNACIO DE LA LLAVE,275,282,676,830,2063,NaN,VERACRUZ DE IGNACIO DE LA LLAVE,45,35,53,37,170
33,NaN,YUCATÁN,2,5,40,27,74,NaN,YUCATÁN,NaN,2,5,6,13
34,NaN,ZACATECAS,26,13,62,68,169,NaN,ZACATECAS,4,3,10,4,21
35,NaN,TOTAL,5368,5518,9994,11978,32858,NaN,Total general,753,588,579,440,2360

In [12]:
import pandas as pd

datos = pd.read_csv("/content/Agricultura_y_Desarrollo_Rural_-_Evaluación_Agrícola_Departamento_de_Bolívar._20250903.csv")

datos

,CodDpto,Departamento,CodMunicipio,Municipio,Cultivo,Periodo,Área Sembrada\n(ha),Área Cosechada\n(ha),Producción\n(t),Rendimiento\n(t/ha)
0,13,Bolívar,"13,006",Achí,Aguacate,2016,80,80,960,12.0
1,13,Bolívar,"13,006",Achí,AHUYAMA,2016,15,15,225,15.0
2,13,Bolívar,"13,006",Achí,AHUYAMA,2016,50,25,300,12.0
3,13,Bolívar,"13,006",Achí,Arroz Riego,2016,861,600,"2,700",4.5
4,13,Bolívar,"13,006",Achí,Arroz Riego,2016,600,600,"3,000",5.0
...,...,...,...,...,...,...,...,...,...,...
2630,13,Bolívar,"13,894",Zambrano,Tabaco,2020,20,20,40,2.0
2631,13,Bolívar,"13,894",Zambrano,Patilla,2020,20,20,240,12.0
2632,13,Bolívar,"13,894",Zambrano,Melón,2020,20,20,240,12.0
2633,13,Bolívar,"13,894",Zambrano,Yuca,2020,"1,000","1,000","12,000",12.0
2634,13,Bolívar,"13,894",Zambrano,Palma de aceite,2020,"1,430","1,430","3,575",3.0

In [ ]:
import pandas as pd

datos = pd.read_json("https://www.datos.gov.co/api/v3/views/wsfk-9bhd/query.json")

datos

# Los datos no salen porque ya tiene mas de 1000 usaos en su api pero ese seri ael modo en jason

In [19]:
import pandas as pd

dataset = [
    {"Nombre completo": "Jesus Tarazona"},
    {"Nombre completo": "Jesus Tarazona"},
    {"Nombre completo": "Jesus Tarazona"},
    {"Nombre completo": "Jesus Tarazona"},
            ]
datos = pd.DataFrame(dataset)

datos

  Nombre completo
0  Jesus Tarazona
1  Jesus Tarazona
2  Jesus Tarazona
3  Jesus Tarazona

In [22]:
import pandas as pd

# este es el link de google sheets https://docs.google.com/spreadsheets/d/1kUdxp00g3ojfXx6MekAQ_6zuWE-vwEGATBt_BGzcS1I/edit?usp=sharing
# en la parte final cambiamos el edit en adelante por lo siguiente: export?format=csv de esta manera jalara la info desde google sheets

datos = pd.read_csv("https://docs.google.com/spreadsheets/d/1kUdxp00g3ojfXx6MekAQ_6zuWE-vwEGATBt_BGzcS1I/export?format=csv")

datos

  nombre  edad  año de nacimiento sexo nacionalidad  profesion
0  jesus    28               1997    m         peru  ingeniero